<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="vendor/autoload.php" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Your Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
      <ini name="display_errors" value="1" />
      <ini name="error_reporting" value="-1" />
      <server name="SHELL_VERBOSITY" value="-1" />
      <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
      <server name="SYMFONY_PHPUNIT_VERSION" value="10.5" />
      <env name="SYMFONY_PHPUNIT_ENV" value="test" />
      <server name="KERNEL_CLASS" value="App\Kernel" />
      <server name="APP_ENV" value="test" force="true" />
      <env name="APP_ENV" value="test" force="true" />
      <env name="SYMFONY_DOTENV_VARS" value=".env.test" />
  </php>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>